@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Welcome to Morrison's authenic Irish Pub.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Order A Drink</h2>
        <p>
            Use this friendly form to enter your drink request.  The drinks will be loaded into the queue, and the bartender
            will fulfill the drink requests in the order they are recieved.  For special requests, not listed on the menu,
            feel free to ask any our our fabulous bartending staff to accommodate your wishes.
        </p>
        @Html.ActionLink("View the Menu", "List","Product", null,
                new { @class = "btn btn-block btn-default btn-long" })
    </div>
    <div class="col-md-6">
        <h2>Bartender Access</h2>
        <p>Bartenders may access the menu, make corrections, add products, and delete products from the drink menu. Bartenders can
        also add custom drinks to our menu and change prices to create specials. </p>
        @Html.ActionLink("Edit the Menu", "Index", "Admin", null,
                new { @class = "btn btn-block btn-default btn-long" })
    </div>

</div>